.clock-widget .widget-container {
  background-color: transparent;
  border: transparent;
}

.clock-widget .widget-container .icon {
  margin-right: var(--space-8);
}

.clock-widget .label {
  font-family: var(--font-text);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semibold);
}

.calendar {
  padding: var(--space-16);
  border: 1px solid var(--color-stroke-surface);
  border-radius: var(--radius-medium);
  background-color: var(--color-background-elevated);
}

.calendar .calendar-table::item:selected {
  background-color: var(--color-accent-default);
  color: var(--color-background-base);
  border-radius: var(--radius-small);
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  min-width: 180px;
  max-width: 180px;
}

.calendar .month-label {
  font-size: var(--font-size-body-strong);
  font-weight: var(--font-weight-semibold);
  margin-top: var(--space-20);
}

.calendar .day-label {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-semibold);
  margin-top: var(--space-8);
}

.calendar .date-label {
  font-size: 64px;
  font-weight: var(--font-weight-bold);
  margin-top: -8px;
}
